<h2>All Orders</h2>

<% @orders.each do |order| %>
  <p>Order Id: <%= order.id %></p>
  <p>Line Items: </p>
  <ul>
    <% order.lineitems.each do |item| %>
    <li><%= item.quantity %> x <%= item.product.title %></li>
    <% end %>
  </ul>
<% end %>