<p>Your order no. <%= current_order.id %> has been placed.</p>

    <% current_order.lineitems.each do |item| %>
    <li><%= item.quantity %> x <%= item.product.title %></li>
    <% end %>

<%= current_order.subtotal %>