<% if @reviews.blank? %>
	<h3>No reviews just yet, would you like to add the first!</h3>
	<%= link_to "Write Review", new_product_review_path(@product), class: "btn btn-danger" %>
<% else %>
<% @reviews.each do |review| %>
	<div class="reviews">
	  <p><%= review.rating %></p>
	  <p><%= review.comment %></p>
	</div>
  <% end %>
<% end %>